body{
background:#e5e5e5;
font-family:Georgia;
margin:0;
}

.barra{
background:#a012d6;
color:white;
padding:10px;
}

.etiqueta{
background:#ffd84d;
color: black;
padding:5px 12px;
border-radius:15px;
font-weight:bold;
margin-right:10px;
}

.contenido{
padding:40px;
}