body{
background:#e5e5e5;
font-family: Georgia;
margin:0;
}

.barra{
background:#0baa45;
color:white;
padding:10px;
}

.etiqueta{
background:#b8f5c7;
padding:5px 12px;
border-radius:15px;
font-weight:bold;
margin-right:10px;
color:#066b2c;
}

.contenido{
padding:40px;
}